spring:
  application:
    name: order-service
  profiles:
    active: dev
  cloud:
    openfeign:
      lazy-attributes-resolution: true
      client:
        refresh-enabled: true
      circuitbreaker:
        enabled: true
  datasource:
    url: jdbc:postgresql://pg-95ddcf-nishanthtv64-a2ee.d.aivencloud.com:27715/defaultdb?sslmode=require
    username: avnadmin
    password: AVNS_lYy4khGTvvNoxeHnbhQ
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    registry-fetch-interval-seconds: 10
    healthcheck:
      enabled: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: full
      inventory-service:
        url: http://localhost:8084
        connectTimeout: 5000
        readTimeout: 5000
      notification-service:
        url: http://localhost:8086
        connectTimeout: 5000
        readTimeout: 5000
  lazy-attributes-resolution: true
  compression:
    request:
      enabled: true
      min-request-size: 2048

resilience4j:
  circuitbreaker:
    instances:
      inventory-service:
        register-health-indicator: true
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10000
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.edureka.microservices: DEBUG
    org.hibernate.SQL: DEBUG
