services:
  service-registry:
    build:
      context: .
      dockerfile: ./service-registry/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8761:8761"
    networks:
      - microservices-network

  config-server:
    build:
      context: .
      dockerfile: ./config-server/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8888:8888"
    depends_on:
      - service-registry
    networks:
      - microservices-network

  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8082:8082"
    depends_on:
      - service-registry
    networks:
      - microservices-network

  product-catalog-service:
    build:
      context: .
      dockerfile: ./product-catalog-service/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8083:8083"
    depends_on:
      - service-registry
    networks:
      - microservices-network

  inventory-service:
    build:
      context: .
      dockerfile: ./inventory-service/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8084:8084"
    depends_on:
      - service-registry
    networks:
      - microservices-network

  order-service:
    build:
      context: .
      dockerfile: ./order-service/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8085:8085"
    depends_on:
      - service-registry
    networks:
      - microservices-network

  notification-service:
    build:
      context: .
      dockerfile: ./notification-service/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8086:8086"
    depends_on:
      - service-registry
    networks:
      - microservices-network

  aggregation-service:
    build:
      context: .
      dockerfile: ./aggregation-service/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8087:8087"
    depends_on:
      - service-registry
    networks:
      - microservices-network

  api-gateway:
    build:
      context: .
      dockerfile: ./api-gateway/Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8081:8081"
    depends_on:
      - service-registry
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge
