services:
  service-registry:
    build:
      context: .
      dockerfile: ./service-registry/Dockerfile
    ports:
      - "8761:8080"

  api-gateway:
    build:
      context: .
      dockerfile: ./api-gateway/Dockerfile
    ports:
      - "8080:8080"
